code {
  font-family: "Operator Mono SSm Lig", "Sarasa Mono SC", "JetBrains Mono",
    Consolas, "Courier New", monospace !important;
}

@media only screen and (min-width: 768px) {
  body > div.container.page-box.book-page > div > div.col-md-3.side {
    position: sticky;
    top: 150px;
    max-height: calc(100vh - 180px);
    overflow: auto;
  }
}

@media only screen and (min-width: 1200px) and (min-width: 768px) {
  body > div.container.page-box.book-page > div > div.col-md-3.side {
    position: sticky;
    top: 90px;
    max-height: calc(100vh - 120px);
    overflow: auto;
  }
}

@media only screen and (max-width: 767px) {
  body > div.container.page-box.book-page > div > div.col-md-3.side {
    position: sticky;
    top: 60px;
    max-height: calc(100vh - 90px);
    overflow: auto;
  }
}

.float_view {
  visibility: hidden;
}
